<form action="https://ksh-dev.acmetest.org/continue" method="get">
    <input type="hidden" name="state" value="<%= state %>" />
    Extra param value: <input type="text" name="extra_param" size="40" />
    <input type="submit" value="Continue" />
</form>
